* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
  background: #000;
}

button {
  border: none;
  background: #ffe121;
  color: #000;
  min-width: 120px;
  min-height: 30px;
}

button:hover {
  cursor: pointer;
}

li {
  margin-left: 24px;
}

.switch-wrapper {
  position: relative;
}
.switch-wrapper > div {
  min-height: 100%;
  width: 100vw;
  position: absolute;

}

.landing {
  height: 100%;
  background: #000 url('../images/landing-background.png');
  background-size: cover;
  background-position: center;
}
.landing-logo {
  position: absolute;
  font-weight: bold;
  padding: 15px;
  z-index: 2;
}
.landing-logo a {
  color: #ffe121;
}
.landing-logo a:hover {
  text-decoration: none;
  color: #ffe121;
}
.landing-overlay {
  height: 100%;
  background: rgba(0, 0, 0, .35);
}
.landing-info {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  display: none;
}
.landing-info a {
  color: #ffe121;
}
.landing-info a:hover {
  color: #ffec7a;
}
.landing-btn {
  display: block;
  width: 100vw;
  font-size: 2em;
  padding: 10px 0;
  color: #000;
  background: #ffe121;
  text-align: center;
}
.landing-btn:hover {
  color: #000;
  text-decoration: none;
}
.landing-slogan {
  font-size: 3.5em;
  color: #fff;
}
.landing-content {
  height: 100%;
  padding-top: 60px;
  position: relative;
  margin: auto;
}

@media (min-width: 576px) {
  .landing-slogan {
    text-align: center;
  }

  .landing-btn {
    max-width: 400px;
    position: relative;
  }

  .landing-info {
    display: block;
  }

  .landing-content {
    height: auto;
  }
}

.form {
  color: #fff;
  max-width: 400px;
  margin: auto;
}
.form-label {
  padding: 0 2px;
  font-size: 0.75em;
}
.form-input {
  border: 1px solid #fff;
  display: block;
  outline: none;
  background: rgba(0,0,0,0);
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.home {
  background: #eee;
  min-height:100%;
  color: #222;
}
.home-devices {
  margin-top: 20px;
}
.home-device-image {
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

.navbar-nav {
  color: #fff;
}
.navbar-nav:hover {
  color: #fff;
}
.navbar-logo {
  color: #ffe121;
  font-weight: bold;
  font-size: 1.5em;
}
.navbar-logo:hover {
  text-decoration: none;
  color: #ffe121;
}

.body {
  padding-top: 80px;
}

.searchbar {
  border: 1px solid #222;
  outline: none;
  background: rgba(0,0,0,0);
  padding: 8px;
  width: 100%;
  margin-right: 20px;
}

.btn-add-device {
  border: 1px solid #222;
  outline: none;
  background: rgba(0,0,0,0);
  padding: 8px;
}
.btn-add-device:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.1);
}
